@tailwind preflight;
@tailwind utilities;
@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Poppins');
/* Your custom CSS here */

a {
  text-decoration: none;
  @apply .text-blue-dark;
}



.introduction {
    background: -webkit-linear-gradient(bottom,#01502B 0,#01502B 30%,#03A65A 100%);
    background: -o-linear-gradient(bottom,#01502B 0,#01502B 30%,#03A65A 100%);
    background: linear-gradient(to top,#01502B 0,#01502B 30%,#03A65A 100%);    
    background-image: url(https://res.cloudinary.com/civic-monitor/image/upload/v1544262571/flag-2528966_1280.jpg);
    background-size: cover;
    background-color: rgb(52, 144, 220);
    position: relative;
    color: #fff;
}

.overlay {
    padding: 80px 0 50px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;

}


.bg-indigo{
    background-color: rgb(52, 144, 220) !important;
}